.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}


/* MERUBAH FONT STYLE MEJADI BOLD */

h3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}


/* MERUBAH FONT STYLE MEJADI BOLD */

h5 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}


.cta-banner {
  margin-top: 100px;
  width: 1168px;
  height: 326px;
  color: white;
  background-color: #0d28a6;
  border-radius: 13px;
}


/* CTA BANNER TEXT MARGIN */

.cta-banner-content {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.btn-success {
  background-color: #5cb85f;
}

.margin-content {
  margin-left: 136px;
  margin-right: 136px;
}