.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}


/* MERUBAH FONT STYLE MEJADI BOLD */

h3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}


/* MERUBAH FONT STYLE MEJADI BOLD */

h5 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.margin-content {
  margin-left: 136px;
  margin-right: 136px;
}

/* CSS OUR SERVICE */

.img-service {
  float: right;
  margin-right: 50px;
}

.our-service {
  width: 100%;
  height: 428px;
  margin-top: 100px;
}