.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.wrap-landing-page {
  background-color: #f1f3ff;
}

/* FONT CSS */

p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}


/* MERUBAH FONT STYLE MEJADI BOLD */

h3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}


/* MERUBAH FONT STYLE MEJADI BOLD */

h5 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

/* CSS MARGIN ITEM NAVIGASI */

.navbar-brand {
  text-align: center;
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
}
/* CSS NAVBAR DAN HERO SECTION */

nav {
  position: absolute;
  width: auto;
  height: 36px;
  margin-left: 136px;
  margin-right: 136px;
}

/* DELETE SIDEBAR IN DESKTOP MODE */

.openbtn {
  display: none;
}


/* SIDEBAR CSS */


/* The sidebar menu */

.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: white;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}


/* The sidebar links */

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
  transition: 0.3s;
}

.button-sidebar {
  padding: 8px 8px 8px 32px;
}


/* When you mouse over the navigation links, change their color */

.sidebar a:hover {
  color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* The button used to open the sidebar */

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
  transition: margin-left .5s;
  /* If you want a transition effect */
  padding: 20px;
}