.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* FONT CSS */

p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}


/* MERUBAH FONT STYLE MEJADI BOLD */

h3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}


/* MERUBAH FONT STYLE MEJADI BOLD */

h5 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}


/* MERUBAH FONT STYLE MEJADI BOLD */

.margin-content {
  margin-left: 136px;
  margin-right: 136px;
}

/* CSS FAQ */

.faq {
  margin-top: 100px;
}


/* BATAS ATAS ANTAR ACCORDION */

.accordion-item {
  margin-top: 25px;
}


/* BOX ACCORDION */

.accordion-header {
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 4px;
}