.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* FONT CSS */

p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}


/* MERUBAH FONT STYLE MEJADI BOLD */

h3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}


/* MERUBAH FONT STYLE MEJADI BOLD */

h5 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}


/* MERUBAH FONT STYLE MEJADI BOLD */

.margin-content {
  margin-left: 136px;
  margin-right: 136px;
}
/* CSS FOOTER */

.footer {
  padding-top: 100px;
  height: 350px;
}


/* LINK PAGE TEXT */

.link-page a {
  text-decoration: none;
  color: black;
  margin-top: 5px;
}


/* CONTACT MARGIN */

.contact {
  padding-right: 70px;
}


/* SOCIAL MEDIA LINK TEXT */

.social-media a {
  text-decoration: none;
}


/* SOCIAL MEDIA IMAGE */

.social-media img {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}


/* FOOTER BRAND RECTANGLE */

.footer-brand {
  background-color: #0d28a6;
  text-align: center;
  width: 100px;
  height: 34px;
  padding-top: 3px;
}


/* FONT FOOTER BRAND */

.footer-brand a {
  text-decoration: none;
  color: white;
}