.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}


/* MERUBAH FONT STYLE MEJADI BOLD */

h3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}


/* MERUBAH FONT STYLE MEJADI BOLD */

h5 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.margin-content {
  margin-left: 136px;
  margin-right: 136px;
}

/* CSS WHY US */

.why-us {
  margin-top: 100px;
}


/* MARGIN PLACE CARD */

.card {
  width: 400px;
  height: 230px;
}


/* SIZING AND MARGIN IMAGE ICON */

.card-img-top {
  width: 32px;
  height: 32px;
  margin-left: 20px;
  margin-top: 24px;
}